.flash {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .flash.flash-success {
    background-color: rgba(200, 255, 200, 0.726);
  }
  
  .flash.flash-error {
    background-color: rgba(255, 200, 186, 0.726);
    color: rgb(156, 12, 12);
  }
  
  .flash-close-btn {
    background-color: #7d0000;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
  }

body {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/ballot.jpg);
}

header {
    background-color: #7D0000;
    color: white;
    text-align: center;
    padding: 1px;
}

nav {
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between; 
}

nav li {
    
    flex: 1; 

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    
}

nav a:hover {

    color: yellow;
}

section {
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}

h1{
    margin-top: 30px;
    color: maroon;
    font-size: 40px;
    font-weight: 500;

}
section p{
    margin-top: -35px;
    font-size: 40px;
    color: maroon;
    font-weight: 500;

}

/* The dropdown container */
.inputBox {
    position: relative;
    width: 50%;
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 330px;

}
.inputBox select{
    width: 302%;
    height: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.inputBox input{
    width: 300%;
    height: 40px;
    text-align: center;
}
.inputBox input[type="submit"] {
    width: 30%;
    margin-top: 10px;
    margin-left: 315px;
    margin-bottom: 20px;
    background-color: #7D0000;
    color: yellow;
    font-size:20px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
    .inputBox input[type="submit"]:hover {
        background-color: #7D0000;
        color: white;
    }

    /* The status display */
    .toggle-btn, .clear {
        display: inline-block;
        cursor: pointer;
        border: none;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        margin-top: -25px;
        margin-right: -1170px;
        margin-left: 1180px;
        text-transform: uppercase;
      }
  
      #clear-btn {
        background-color:  #7D0000;
        color: #fff;
      }
  
      #open-btn {
        background-color:  #7D0000;
        color: #fff;
      }
  
      #close-btn {
        background-color:  #7D0000;
        color: #fff;
      }
  
      #status {
        font-size: 32px;
        margin-top: 25px;
        margin-left: 90px;
        margin-bottom: -30px; 
        text-transform: uppercase;

      }

       

    /* The list for positionSelected */
    .container {
        text-align: center;
        padding: 20px;

    }

    
    .Position {
        display: inline-block;
        width: 1500px;
        max-width: 1300px;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.747);

    }
    
    .list {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    
    .list span {
        display: flex;
        width: 20%;
        text-align: center;
        font-weight: bold;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: #f1ebeb;
        background-color: #7D0000;
        height: 30px;
        margin-top: -1px;
    }
    
    

    