* {
  box-sizing: border-box;
}

.flash {
  position: absolute;
  top: 71px;
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.flash.flash-success {
  background-color: rgba(200, 255, 200, 0.726);
}

.flash.flash-error {
  background-color: rgba(255, 200, 186, 0.726);
  color: rgb(156, 12, 12);
}

.flash-close-btn {
  border-radius: 5px;
  background-color: transparent;
  color: black;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.flash-close-btn:hover {
  background-color: transparent;
  color: yellow;
}

body {
  background-image: url("../images/pup_bg_1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.block {
  display: block;
}

header {
  background-color: #7d0000;
  color: white;
  text-align: center;
  padding: 1px;
}

nav {
  padding: 20px;
}

.current-page {
  color: yellow;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  flex: 1;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

nav a:hover {
  color: yellow;
}
