textarea {
  display: block;
  width: 100%;
  max-height: 12rem;
  padding: 0.5rem 0.5rem 0;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
  font-family: inherit;
  font-size: inherit;
}

form {
  display: block;
  width: 100%;
}

.post-btn {
  display: block;
  background-color: #7d0000;
  color: yellow;
  font-size: 16px;
  padding: 10px 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-btn:hover {
  background-color: 7D0000;
  color: white;
  border-radius: 5px;
}

.flash {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.flash.flash-success {
  background-color: rgba(200, 255, 200, 0.726);
}

.flash.flash-error {
  background-color: rgba(255, 200, 186, 0.726);
  color: rgb(156, 12, 12);
}

.flash-close-btn {
  background-color: #7d0000;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.post-image {
  width: 100%;
  max-height: 150vh;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}

.post-image-icon {
  padding: 5px;
  background-color: #7d0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.post-image-icon:hover {
  color: yellow;
}

.file-name {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  max-width: 60%;
  overflow: hidden;
}

.input-post-container {
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.user-name {
  font-weight: bold;
  margin-top: 1.3rem;
}
