form {
  display: block;
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
  max-height: 12rem;
  padding: 0.5rem 0.5rem 0;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
  font-family: inherit;
  font-size: inherit;
}

.input-and-post-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.input-file-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.file-name {
  /* display: inline-block; */
  /* margin-right: 10px; */
  font-size: 14px;
  max-width: 60%;
  max-height: 1rem;
  overflow: hidden;
}

.post-image-icon {
  padding: 5px;
  background-color: #7d0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.post-image-icon:hover {
  color: yellow;
}

input[type="file"] {
  display: none;
}

.post-btn {
  display: block;
  background-color: #7d0000;
  color: yellow;
  font-size: 16px;
  padding: 10px 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-btn:hover {
  background-color: 7D0000;
  color: white;
  border-radius: 5px;
}

.display-post-user-name {
  font-weight: bold;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.display-post-position {
  margin-top: 0;
  line-height: 1;
  font-weight: bold;
}

.display-post-text {
  white-space: pre-wrap;
  margin-bottom: 1rem;
}

.display-post-image {
  width: 100%;
  max-height: 150vh;
  object-fit: contain;
}
