.flash {
  position: absolute;
  top: 71px;
  width: 100%;
}

.no-posts-text {
  text-align: center;
  margin-top: 15rem;
  font-style: italic;
}

.add-post-section {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 545px;
  margin: 50px auto;
}

form {
  display: block;
  width: 100%;
  overflow: hidden;
}

.post-text {
  display: block;
  width: 100%;
  height: auto;
  max-height: 12rem;
  padding: 0.5rem 1rem 0 0.5rem;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
  font-family: inherit;
  font-size: inherit;
}

.input-and-post-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.input-file-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.file-name {
  font-size: 14px;
  max-width: 60%;
  max-height: 1rem;
  overflow: hidden;
}

.post-image-icon {
  padding: 5px;
  background-color: #7d0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.post-image-icon:hover {
  color: yellow;
}

input[type="file"] {
  display: none;
}

.post-btn {
  display: block;
  background-color: #7d0000;
  color: yellow;
  font-size: 16px;
  padding: 10px 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-btn:hover {
  background-color: 7D0000;
  color: white;
}

.timeline:first-child {
  margin-top: 50px;
}

.timeline {
  max-width: 600px;
  margin: 25px auto 50px;
}

.timeline-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.center {
  text-align: center;
}

.post-csc-logo {
  width: 280px;
  border-radius: 50%;
  margin-top: -60px;
  margin-bottom: -65px;
}

.options-icon {
  position: absolute;
  top: 20px;
  right: 15px;
}

.option {
  margin-left: 10px;
  padding: 5px;
  background-color: #7d0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #ffd30f;
  color: #7d0000;
}

.display-post-user-name {
  font-weight: bold;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.display-post-user-name.admin {
  margin-bottom: 1rem;
}

.display-post-position {
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.display-post-text {
  white-space: pre-wrap;
  margin: 0.5rem 0;
}

.display-post-image {
  width: 100%;
  max-height: 150vh;
  object-fit: contain;
  margin-top: 0.5rem;
}
