<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <title>Timeline</title>
    <style>
      textarea {
        display: block;
        width: 100%;
        max-height: 12rem;
        padding: .5rem .5rem 0;
        border: none;
        outline: none;
        resize: none;
        overflow-y: hidden;
      }

      form {
        display: block;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Timeline</a></li>
          <li><a href="#">Ballot</a></li>
          <li><a href="/live-results">Live Result</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </header>

    <div class="add-post-section">
      <form action="/" method="POST">
        <textarea name="text" id="" placeholder="Add Post to Your Timeline" oninput="autoResize(this)"></textarea>
        <button type="submit">Post</input>
      </form>
      <!-- <div class="options-icon">
        <span class="option"><i class="fas fa-plus"></i></span>
      </div> -->

    </div>

    <script>
      function autoResize(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";
      }
    </script>

    {% for post in posts %}
    <div class="timeline">
      <div class="timeline-item">
        <div class="centered-icon">
          <img src="../static/images/CSC_LOGO.png" alt="User Icon" />
          <p style="font-weight: bold;">Einha Muday | Running for President</p>
        </div>
        <p class="timeline-text" style="white-space: pre-wrap;">{{ post.text | trim }}</p>
        <div class="options-icon">
          <div class="options-icon">
            <span class="option"><i class="fas fa-trash-alt"></i></span>
          </div>
        </div>
      </div>
    {% endfor %}

    <main></main>
  </body>
</html>
