<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/ballot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <title>Ballot</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Timeline</a></li>
          <li><a class="current-page" href="/ballot">Ballot</a></li>
          <li><a href="/live-results">Live Result</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-container">
      {% for category, message in messages %} {% if category == 'error' %}
      <div class="flash flash-error">
        <span>{{ message }}</span>
        <button class="flash-close-btn" type="button">
          <span>&times;</span>
        </button>
      </div>
      {% elif category == 'success' %}
      <div class="flash flash-success">
        <span>{{ message }}</span>
        <button class="flash-close-btn" type="button">
          <span>&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% endwith%}

    <main>
      <h1>CENTRAL STUDENT COUNCIL <span class="block">BALLOT BOARD</span></h1>

      <!-- ADMIN ACTION -->
      <div class="candidate">
        {% if current_ballot_status.ballotStatus != 'OPEN' and
        current_ballot_status.ballotStatus != 'CLOSED' %}
        <form method="post" action="{{ url_for('views.addCandidate') }}">
          <input
            class="input"
            type="text"
            name="user-id-input"
            placeholder="Enter Student ID"
            autocomplete="off"
            required
          />
          <select
            class="input"
            id="positionSelect"
            name="position"
            required
            title="Please select a position."
          >
            <option value="" disabled selected hidden>Position</option>
            <option value="president">President</option>
            <option value="executive_vp">Executive Vice President</option>
            <option value="executive_board_sec">
              Executive Board Secretary
            </option>
            <option value="vp_finance">VP For Finance</option>
            <option value="vp_academic_affairs">VP For Academic Affairs</option>
            <option value="vp_internal_affairs">VP For Internal Affairs</option>
            <option value="vp_external_affairs">VP For External Affairs</option>
            <option value="vp_public_relations">VP For Public Relations</option>
            <option value="vp_research_dev">
              VP For Research and Development
            </option>
            <option value="first_yr_rep">First Year Representative</option>
            <option value="second_yr_rep">Second Year Representative</option>
            <option value="third_yr_rep">Third Year Representative</option>
            <option value="fourth_yr_rep">Fourth Year Representative</option>
          </select>
          <input type="submit" name="" value="Save" />
        </form>
        {% endif %}
      </div>

      <!-- ballot status -->
      <div class="displaystat">
        <div class="ballot-status" id="status">
          STATUS: <span>{{ current_ballot_status.ballotStatus }}</span>
        </div>
        <div class="status-buttons-container">
          {% if current_ballot_status.ballotStatus != 'CLOSED' %}
          <button
            id="open-btn"
            class="status-button toggle-btn"
            data-action="{{ current_ballot_status.ballotStatus | lower }}"
            onclick="toggleState()"
          >
            {% if current_ballot_status.ballotStatus == 'NEW' %} OPEN BALLOT {%
            else %} CLOSE BALLOT {% endif %}
          </button>
          {% endif %}
          <button
            id="clear-btn"
            class="status-button clear"
            data-action="clear"
            onclick="clearBallot()"
          >
            CLEAR BALLOT
          </button>
        </div>
      </div>

      <div class="container">
        {% if candidates %} {% if not candidates["president"]|length <= 0 %}
        <div class="Position">
          <h2>PRESIDENT</h2>
          {% for candidate in candidates["president"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["executive_vp"]|length <= 0 %}
        <div class="Position">
          <h2>EXECUTIVE VICE PRESIDENT</h2>
          {% for candidate in candidates["executive_vp"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["executive_board_sec"]|length <= 0 %}
        <div class="Position">
          <h2>EXECUTIVE BOARD SECRETARY</h2>
          {% for candidate in candidates["executive_board_sec"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["vp_finance"]|length <= 0 %}
        <div class="Position">
          <h2>VICE PRESIDENT FOR FINANCE</h2>
          {% for candidate in candidates["vp_finance"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["vp_academic_affairs"]|length <= 0 %}
        <div class="Position">
          <h2>VICE PRESIDENT FOR ACADEMIC AFFAIRS</h2>
          {% for candidate in candidates["vp_academic_affairs"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["vp_internal_affairs"]|length <= 0 %}
        <div class="Position">
          <h2>VICE PRESIDENT FOR INTERNAL AFFAIRS</h2>
          {% for candidate in candidates["vp_internal_affairs"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["vp_external_affairs"]|length <= 0 %}
        <div class="Position">
          <h2>VICE PRESIDENT FOR EXTERNAL AFFAIRS</h2>
          {% for candidate in candidates["vp_external_affairs"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["vp_public_relations"]|length <= 0 %}
        <div class="Position">
          <h2>VICE PRESIDENT FOR PUBLIC RELATIONS</h2>
          {% for candidate in candidates["vp_public_relations"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["vp_research_dev"]|length <= 0 %}
        <div class="Position">
          <h2>VICE PRESIDENT FOR RESEARCH AND DEVELOPMENT</h2>
          {% for candidate in candidates["vp_research_dev"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["first_yr_rep"]|length <= 0 %}
        <div class="Position">
          <h2>FIRST YEAR REPRESENTATIVE</h2>
          {% for candidate in candidates["first_yr_rep"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["second_yr_rep"]|length <= 0 %}
        <div class="Position">
          <h2>SECOND YEAR REPRESENTATIVE</h2>
          {% for candidate in candidates["second_yr_rep"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["third_yr_rep"]|length <= 0 %}
        <div class="Position">
          <h2>THIRD YEAR REPRESENTATIVE</h2>
          {% for candidate in candidates["third_yr_rep"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %} {% if candidates %} {% if not
        candidates["fourth_yr_rep"]|length <= 0 %}
        <div class="Position">
          <h2>FOURTH YEAR REPRESENTATIVE</h2>
          {% for candidate in candidates["fourth_yr_rep"] %}
          <div class="list">
            <span>{{ candidate.name }}</span>
            <div class="icon">
              {% if current_ballot_status.ballotStatus != 'OPEN' and
              current_ballot_status.ballotStatus != 'CLOSED' %}
              <ion-icon
                name="trash-outline"
                onclick="deleteCandidate('{{ candidate.studentId }}')"
                style="cursor: pointer"
              ></ion-icon>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endif %}
      </div>
    </main>

    <script src="../static/scripts/index.js"></script>
    <script src="../static/scripts/ballot.js"></script>
  </body>
</html>
