<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/VoteNowStyle.css" />
    <title>Live Result</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Timeline</a></li>
          <li><a href="/vote-now">Vote Now</a></li>
          <li><a href="/live-results">Live Result</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </header>

    <div class="live-result-container">
      <h1>CENTRAL STUDENT COUNCIL (2024-2025)</h1>
      <div class="live-time">
        <p>As of <time datetime="" id="liveTime"></time></p>
      </div>
      {% if not voteResults["president"]["candidates"]|length <= 0 %}
      <div class="live-result-graph">
        <h2>PRESIDENT</h2>
        {% for candidate in voteResults["president"]["candidates"] %}
        <div class="result-bar president-result-bar">
          <span class="candidate-name">{{candidate['name']}}</span>
          <div class="bar" data-student-id="{{candidate['studentId']}}"
          style="width: {{candidate['votePercentage']}}%">
        </div>
      </div>
      {% endfor %}
      <div class="result-bar">
        <span class="candidate-name">Abstain</span>
        <div class="bar" id="abstain" style="width: {{voteResults['president']['abstain']['votePercentage']}}%"></div>
      </div>
    </div>
    {% endif %} 
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>

    <script>
      setInterval(function () {
          document.getElementById('liveTime').textContent = new Date().toLocaleString();
      }, 1000);

      document.getElementById('liveTime').textContent = new Date().toLocaleString();

      var socket = io('http://127.0.0.1:5000');

      socket.on('vote', function(data) {
          if (data.president.candidates.length > 0) {
              for (let i = 0; i < data.president.candidates.length; i++) {
                const candidate = data.president.candidates[i];
                const resultBar = document.querySelector(".president-result-bar [data-student-id='" + candidate.studentId + "']");
                resultBar.style.width = `${candidate.votePercentage}%`;
              }
              const abstain = document.getElementById("abstain");
              abstain.style.width = `${data.president.abstain.votePercentage}%`;
          }
      });
    </script>
  </body>
</html>
