<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <title>Account Settings</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Timeline</a></li>
          <li><a href="/vote">Vote Now</a></li>
          <li><a href="/live-results">Live Result</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </header>

    <div class="account-container">
      <div class="account-icon">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="account-name">Name: {{user.firstName}} {{user.lastName}}</div>
      <div class="student-number">Student Number: {{user.userId}}</div>
      <button id="logoutButton" class="logout-button">Logout</button>
    </div>

    <script>
      document
        .getElementById("logoutButton")
        .addEventListener("click", function () {
          var confirmLogout = confirm("Are you sure you want to Logout?");

          if (confirmLogout) {
            window.location.href = "/logout";
          }
        });
    </script>
  </body>
</html>
