<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/VoteNowStyle.css" />
    <title>Vote Now</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Timeline</a></li>
          <li><a href="/vote">Vote Now</a></li>
          <li><a href="/live-results">Live Result</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </header>

    <!-- for each candidate in candidates, if position == president, option siya -->
    <!-- how to know if there are presidents -->

    <div class="vote-form">
      <h2>PRESIDENT</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="salma-fae"
              name="president"
              value="Salma Fae"
            />
            <label>Salma Fae</label>
          </li>
          <li>
            <input type="radio" id="marcos" name="president" value="Marcos" />
            <label>Marcos</label>
          </li>
          <li>
            <input type="radio" id="abstain" name="president" value="Abstain" />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>EXECUTIVE VICE PRESIDENT</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>EXECUTIVE BOARD SECRETARY</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>VICE PRESIDENT FOR FINANCE</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>VICE PRESIDENT FOR ACADEMIC AFFAIRS</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>VICE PRESIDENT FOR INTERNAL AFFAIRS</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>VICE PRESIDENT FOR EXTERNAL AFFAIRS</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>VICE PRESIDENT FOR PUBLIC RELATIONS</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>VICE PRESIDENT FOR RESEARCH AND DEVELOPMENT</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>FIRST YEAR REPRESENTATIVE</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>SECOND YEAR REPRESENTATIVE</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>THIRD YEAR REPRESENTATIVE</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>

    <div class="vote-form">
      <h2>FOURTH YEAR REPRESENTATIVE</h2>
      <form action="submit_vote.php" method="post">
        <ul class="vote-options">
          <li>
            <input
              type="radio"
              id="Candidate"
              name="vice president"
              value="cndt1"
            />
            <label>Candidate 1</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate2"
              name="vice president"
              value="cndt2"
            />
            <label>Candidate 2</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate3"
              name="vice president"
              value="candt3"
            />
            <label>Candidate 3</label>
          </li>
          <li>
            <input
              type="radio"
              id="Candidate4"
              name="vice president"
              value="candt4"
            />
            <label>Abstain</label>
          </li>
        </ul>
      </form>
    </div>
    <h4>
      <i
        >Make sure to review your form before submiting Iskolars. Vote
        Wisely!</i
      >
    </h4>
    <button type="submit">SUBMIT VOTE</button>
  </body>
</html>
